*{
margin: 0;
padding: 0;
}

body{
    background: linear-gradient(rgb(36, 5, 30), rgb(87, 5, 77));
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
header{
    position: fixed;
    width: 97%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;

}
header .logo{
font-size: 30PX;
text-transform: uppercase; 
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header ul li{
    margin-right:30px;
}
header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
}
header ul li a:hover    , .active{
    background: white;
    color: black;
}
.main{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top,rgb(36, 5, 30), transparent)
}
.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#moon{
    mix-blend-mode: screen;
    transform: translateY(80px);
}
.abode{
    color: rgb(255, 255, 255);
    font-size: 25px;
    transform: translateY(-140px);

}
.content{
    color: rgb(255, 255, 255);
    padding: 30px;
}

.content h2{
    margin: 20px;
    font-size: 30px;
}

.content p{
    margin: 20px;
}